@use "./variables" as *;

.usercard {
  background-color: $secondary-backgound;
  position: relative;
  border-radius: 10px;
  display: flex;
  &__picframe {
    border-right: 1px solid $buttons;
  }
  &__picture {
    max-height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 9px;
    margin: 1rem;
  }
  &__info {
    padding: 1rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__data {
    display: flex;
    gap: 1rem;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__piece {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: $secondary-backgound;
    border: none;
    color: red;
  }
}
