@use "./styles/variables" as *;

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: $secondary-backgound;
  width: 15vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 2rem 1rem;
  &__link {
    padding: 0.7rem;
    text-align: center;
    background-color: $buttons;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 3px white;
  }
}

.body {
  padding: 2rem;
}
